@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Italianno&display=swap');

:root {
    --header-footer-background: #3C2F41;
    --text-color: #F8FFB3;
    --menu-background: #F7E7CE;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.menu>* {
    margin: 40px;
}

.panel {
    background: #EBDCC5;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 20px;
}

.panel:not(:last-child) {
    margin: 0 0 20px 0;
}

.left {
    width: 432px;
}

.panel-text {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
}

.contacts {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.contacts a {
    color: #000000;
}

.contacts a:not(:last-child) {
    margin-bottom: 40px;
}

.right {
    width: 800px;
}

.field label {
    width: 123px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.field input {
    padding: 8px 16px;
    width: 266px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    border-radius: 4px;
}

.field .input-email {
    width: 532px;
}

.forreview {
    width: 100%;
    height: 348px;

}

.forreview::placeholder {
    text-align: center;
    padding: 150px;
}





.send-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}

.send-button button {
    width: 157px;
    height: 32px;
    border: 1px solid #000000;
    border-radius: 4px;
    background: #EBDCC5;
}



/* .contact-box,
.review-box {
    flex: 1;
} */

/* ul {
    list-style: none;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
}

.container {
    display: flex;
} */

/* .container h1 {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.container h1 {
    width: 432px;
    height: 77px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background: #EBDCC5;
    border-radius: 5px;

    cursor: pointer;
}

.container ul {
    width: 432px;
    height: 231px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background: #EBDCC5;
    border-radius: 5px;

    cursor: pointer;
}

.container ul {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    text-decoration-line: underline;
    color: #000000;


    line-height: 77px;
}

.review-box h2 {
    width: 799px;
    height: 76px;
    background: #EBDCC5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.review-box h2 {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
}

form {
    width: 800px;
    height: 533px;
    background: #EBDCC5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;



}



.name {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    width: 123px;
    height: 37px;

    padding: 25px;

    color: #000000;
}

.email {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    width: 123px;
    height: 37px;

    padding: 25px;
    color: #000000;
}



label {
    float: left;
}

.forname {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    width: 266px;
    height: 40px;

    background: #FFFFFF;

    border: 1px solid #BFBFBF;
    border-radius: 4px;

    box-sizing: border-box;
}


.foremail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    width: 532px;
    height: 40px;

    background: #FFFFFF;

    border: 1px solid #BFBFBF;
    border-radius: 4px;

    box-sizing: border-box;
}


.forreview {
    display: flex;
    box-sizing: border-box;
    width: 799px;
    height: 348px;

    background: #F5F5F5;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #000000;


}

.send {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;


    width: 157px;
    height: 32px;

    border: 1px solid #000000;
    border-radius: 4px;
}



textarea::placeholder {
    text-align: center;
    padding: 150px;
}



.review-box p {
    width: 799px;
    height: 72px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.review-box p {
    width: 800px;
    height: 71px;
    background: #EBDCC5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.send {

    width: 141px;
    height: 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.send {
    display: flex;

    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    position: absolute;
    width: 157px;
    height: 32px;


    border: 1px solid #000000;
    border-radius: 4px;

} */