@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Italianno&display=swap');

:root {
    --header-footer-background: #3C2F41;
    --text-color: #F8FFB3;
    --menu-background: #F7E7CE;
}
.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.menu>* {
    margin: 40px;
}

.list {
    background: #EBDCC5;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 20px;
}

.list:not(:last-child) {
    margin: 0 0 20px 0;
}

.menu-list{
    width: 668px;
}

.photos {
    width: 672px;
}