@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Italianno&display=swap');

/* :root {
    --header-footer-background: #3C2F41;
    --text-color: #F8FFB3;
    --menu-background: #F7E7CE;
}
.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.menu>* {
    margin: 40px;
}

.list {
    background: #EBDCC5;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 20px;
}

.list:not(:last-child) {
    margin: 0 0 20px 0;
}

.menu-list{
    width: 668px;
}

.photos {
    width: 672px;
}

.list p {
    color: red;
    margin: 50px;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Italianno&display=swap");

:root {
  --header-footer-background: #3c2f41;
  --text-color: #f8ffb3;
  --menu-background: #f7e7ce;
}
.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
}

.menu > * {
  margin: 40px;
}

.list {
  background: #ebdcc5;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 20px;
}

.list:not(:last-child) {
  margin: 0 0 20px 0;
}

.menu-list {
  width: 668px;
  height: 1300px;
  border: 5px #2c3e50 solid;
  border-radius: 38px;
}
.menu-list img {
  margin: 0 18px;
  height: 150px;
  width: 620px;
}
.menu-list nav {
  height: 50px;
  margin-left: 246px;
  font-family: "Italianno";
  list-style: none;
  font-weight: 400;
  font-size: 96px;
}
.menu-list ul {
  padding-left: 40px;
  width: 450px;
  height: 1075px;
}
.menu-list ul img {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-left: 545px;
  cursor: pointer;
}
.menu-list p {
  font-family: "Inter";
  font-style: italic;
  margin-left: 540px;
  height: 0;
  width: 70px;
}
.menu-list span {
  font-size: 24px;
  font-weight: 300;
  border-bottom: 2px #000000 solid;
}
.menu-list li {
  font-family: "Inter";
  font-style: italic;
  max-width: 300px;
  list-style: none;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  margin-bottom: 0px;
}
.photos-list {
  width: 592px;
}


